<h1>Welcome to my about page!</h1>

<p> I dont really know what information to put here so ill just talk about what on my mind.</p>
<p> im currently doing a ruby and rails course on udemy and im really enjoying it thus fair, ive only been doing it for a couple days and already feel like i have a basic understanding.
very excited to see what else the course has in store for me. </p>