<h1 class ="text-center mt-4"> Edit Category Name</h1>

<div class="container">
  <%= render 'shared/errors', obj: @category %>
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'form'%>
    </div>

  </div>

  <div class="row justify-content-center mb-3">
    <%= link_to '[ Cancel and return to categories ]', category_path(@category) ,class: "text-danger justify-content-center"%>
  </div>

</div>
